<% provide(:title, "Blogs") %>
<h1>Ramblings of a geek</h1>

<div class="blog-index row span12">
  <% @blogs.each do |blog| %>
    <%= render 'blogs/blog', blog: blog %>
  <% end %>

  <div class="span2">
    <% if user_signed_in? %>
      <%= link_to 'New Blog', new_blog_path %>
    <% end %>
  </div>
</div>
