<% provide :title, "CV" %>
<h1>CV</h1>
<div class="row">
	<div class="span3 block">
		<h2>Employment</h2>
		<div class="bordered-left">
			<h5>Lead Developer</h5>
			<p>Leading a team of around 8 PHP and UI developers. Orchestrating
				a rewrite of the core software product. Moving the entire 
				team from CVS to Git, from the developers, testers through to deployment</p>

			<small><a href="http://www.pure360.com">Pure360</a></small>
		</div>
		<div class="bordered-left">
			<h5>Senior Developer</h5>
			<p>Managing a team of 5 Developers &amp; Designers.	Developing
				first class bespoke web software for recognisable clients
				using PHP &amp; Javascript</p>

			<small><a href="http://www.claromentis.com">Claromentis</a></small>
		</div>
		<div class="bordered-left">
			<h5>PHP Developer</h5>
			<p>Developing on the LAMP stack and maintenance of the Debian Linux Servers</p>

			<small>RPoints</small>
		</div>
	</div>

	<div class="span3 block">
		<h2>Qualifications</h2>
		<div class="bordered-left">
			<h5>Zend PHP 5.3 Certification</h5>
			<p>Sponsered by Claromentis, studied for in my own time</p>
			<p class="grade">- Pass -</p>
		</div>
		<div class="bordered-left">
			<h5>BSc Computer Network Management and Engineering</h5>
			<p>A varied degree covering Networking, System Admin, Software and Web Development</p>
			<p class="grade">- First Class -</p>
		</div>
		<div class="bordered-left">
			<h5>Network Management</h5>
			<p>Covered both Networking and Software development</p>
			<p class="grade">- Distinction -</p>
		</div>
	</div>

	<div class="span3 block">
		<h2>Skills</h2>
		<div class="bordered-left skills-container">
			<em>PHP</em>
			<div class="skill-container">
				<div class="skill-1"></div>
			</div>

			<em>Javascript</em>
			<div class="skill-container">
				<div class="skill-2"></div>
			</div>

			<em>Backbone.js</em>
			<div class="skill-container">
				<div class="skill-3"></div>
			</div>

            <em>Angular.js</em>
            <div class="skill-container">
              <div class="skill-4"></div>
            </div>

			<em>Ruby (on rails)</em>
			<div class="skill-container">
				<div class="skill-5"></div>
			</div>

			<em>Databases / SQL (noSQL) </em>
			<div class="skill-container">
				<div class="skill-6"></div>
			</div>

			<em>Java</em>
			<div class="skill-container">
				<div class="skill-7"></div>
			</div>

			<em>Objective-C</em>
			<div class="skill-container">
				<div class="skill-8"></div>
			</div>

			<em>Linux / Unix / OS X</em>
			<div class="skill-container">
				<div class="skill-9"></div>
			</div>

            <p>And these:</p>
            <ul>
              <li>Git, Subversion, CVS</li>
              <li>Continuous Integration</li>
              <li>Node JS</li>
              <li>CoffeeScript</li>
              <li>Capistrano</li>
              <li>Composer</li>
            </ul>
		</div>
	</div>
</div>