<% provide(:title, "Home") %>
<h1>Julian Cohen</h1>

<div class="row">
	<div class="span3 offset1 block">
		<%= link_to image_tag('me.jpg', class: "photo-me", width: 220), alt: "Julian Cohen" %>
	</div>

	<div class="span5 offset1 block">
		<p>
			Hi! I'm Julian Cohen - often shortened to Juco.
		</p>
		<p>
			I love to <a href="http://github.com/juco">code</a> and gain
			as many <a href="http://coderwall.com/juco">achievements</a> as possible and am
			currently work as a <a href="http://uk.linkedin.com/in/cohenjulian">Lead Developer</a> at
			<a href="http://www.pure360.com">Pure360.com</a>. If i'm not working and am sat in front of
			a computer i'm often <a href="http://stackoverflow.com/users/1477466/juco">helping others</a>
			or idling on <a href="http://freenode.net/">IRC</a>.
		</p>
	</div>
</div>