<h1>Julian Cohen</h1>

<div class="row">
	<div class="span4 block">
		<%= link_to image_tag('me.jpg', class: "photo-me"), alt: "Julian Cohen" %>
	</div>
	<div class="span5">
		<p>Goodbye world</p>
	</div>
</div>