@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$jucoGreen: #b5cf5f;

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

html,body {
  height: 100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.block {
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: $jucoGreen;
	botder-radius: 30px 30px 30px 30px;
}

/* footer */
footer {
	margin-top: 30px;
	border-bottom: solid 7px $jucoGreen;
}