<div id="footer">
	<div class="span8 offset3">
		<p class="credit">
			The codebase for this site is hosted on <a href="http://github.com">Github</a>
			and hosted with <a href="http://heroku.com">Heroku</a> awesomeness
		</p>
	</div>
</div>