<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><a href="#">CV</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Me</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
